<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					Made By <a href="http://natestrauser.me" target="_blank">Nate Strauser</a>
					&nbsp;-&nbsp;
					<i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;<a href="https://github.com/nate-strauser/wework" target="_blank">Fork me on GitHub</a>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss"></i> RSS <a href="/rss/jobs" target="_blank">Jobs</a> <a href="/rss/profiles" target="_blank">Developers</a>
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> JSON <a href="/api/jobs" target="_blank">Jobs</a> <a href="/api/profiles" target="_blank">Developers</a> 
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				We Work Meteor is an independent entity and has not been authorized, sponsored, or otherwise approved by <a href="http://www.meteor.com/">Meteor Development Group</a>.
			</div>
		</div>
	</footer>
</template>
