<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					{{_ "made_by"}} <a href="http://www.natestrauser.com" target="_blank">Nate Strauser</a>
					&nbsp;-&nbsp;
					<i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;<a href="https://github.com/nate-strauser/wework" target="_blank">{{_ "fork_me_on_github"}}</a>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss"></i> {{_ "rss"}} <a href="/rss/jobs" target="_blank">{{_ "jobs"}}</a> <a href="/rss/profiles" target="_blank">{{_ "profiles"}}</a>
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> {{_ "json"}} <a href="/api/jobs" target="_blank">{{_ "jobs"}}</a> <a href="/api/profiles" target="_blank">{{_ "profiles"}}</a>
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				{{{_ "wework_disclaimer"}}}
			</div>
		</div>
	</footer>
</template>
