<template name="experts">
	{{#if $gt expertCount 0}}
		{{#each experts}}
			<div class="panel panel-default">
  				<div class="panel-body">
    				{{>expertEmbedLarge}}
				</div>
			</div>
		{{/each}}
	{{else}}
		No Current Experts
	{{/if}}
</template>

<template name="expert">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
  				<div class="panel-body">
    				{{#with expert}}
						{{>expertEmbedLarge}}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="expertsRecent">
	<h4>Recent Experts</h4>
	{{#each experts}}
		<div class="panel panel-default">
			<div class="panel-body">
				{{>expertEmbedSmall}}
			</div>
		</div>
	{{/each}}
</template>

<template name="expertEmbedSmall">
	<h4><a href="{{pathFor 'expert'}}">{{title}}</a></h4>
	{{userName}} - {{getPrettyDateAndTime createdAt}}
</template>

<template name="expertEmbedLarge">
	<div class="row">
		<div class="col-sm-12">
			<h2><a href="{{pathFor 'expert'}}">{{title}}</a></h2>
			<br>
			{{userName}}
			<hr>
			{{#if url}}
				<br>
				<i class="fa fa-external-link fa-m"></i>&nbsp;&nbsp;<a href="{{url}}" target="_blank">{{url}}</a>
			{{/if}}
			{{#if githubUrl}}
				<br>
				<i class="fa fa-github fa-m"></i>&nbsp;&nbsp;<a href="{{githubUrl}}" target="_blank">{{githubUrl}}</a>
			{{/if}}
			{{#if linkedinUrl}}
				<br>
				<i class="fa fa-linkedin fa-m"></i>&nbsp;&nbsp;<a href="{{linkedinUrl}}" target="_blank">{{linkedinUrl}}</a>
			{{/if}}
			{{#if stackoverflowUrl}}
				<br>
				<i class="fa fa-stack-overflow fa-m"></i>&nbsp;&nbsp;<a href="{{stackoverflowUrl}}" target="_blank">{{stackoverflowUrl}}</a>
			{{/if}}

			{{#if htmlDescription}}
				<hr>
				{{{htmlDescription}}}
			{{/if}}
			<br>
			{{getPrettyDateAndTime createdAt}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{{#if $eq userId $.Meteor.userId}}
				<div class="pull-right">
					&nbsp;
					<a href="{{pathFor 'expertEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
				</div>
				<div class="pull-right">
					{{#autoForm collection="Experts" id="expertDelete" type="remove" doc=this}}
						<button type="submit" class="btn btn-danger remove"><i class="fa fa-trash-o"></i> Delete</button>
					{{/autoForm}}
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="expertNew">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Offer Expert Services</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Experts" id="expertNew" type="insert"}}
					    {{>expertFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="expertEdit">
    <div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Edit Expert Profile</h4>
				</div>
				<div class="panel-body">
					{{#autoForm collection="Experts" id="expertEdit" type="update" doc=expert}}
					    {{>expertFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="expertFields">
	{{>afQuickField name='title'}}
    {{>afQuickField name='url'}}
    {{>afQuickField name='githubUrl'}}
    {{>afQuickField name='linkedinUrl'}}
    {{>afQuickField name='stackoverflowUrl'}}
    {{>afQuickField name='description' rows=8}}
</template>