
<template name="header">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">We Work Meteor</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="/jobs">Jobs</a></li>
	      	<li><a href="/experts">Experts</a></li>
	      	<li><a href="/job/post">Post a Job</a></li>
	      	<li><a href="/expert/post">Offer expert services</a></li>
	      		{{#if currentUser}}
	      		<li><a href="/dashboard">Dashboard</a></li>
	      		<li><a href="/submit">Submit Testing</a></li>
	      		<li><a href="/sessions">Sessions</a></li>
	      		<li><a href="/achievements">Achievements</a></li>
	      		<li><a href="/submissions">Submissions</a></li>
	      	{{/if}}
	      </ul>
	      <ul class="nav navbar-nav navbar-right">


	        {{#if currentUser}}
				<li><a href="/sign-out"><i class="fa fa-sign-out"></i> Sign Out</a></li>
			{{else}}
				<li><a href="/sign-in"><i class="fa fa-sign-in"></i> Sign In</a></li>
				<li><a href="/sign-up"><i class="fa fa-user"></i> Sign Up</a></li>
			{{/if}}
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</template>

<template name="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<br><hr><br>
				<small>by <a href="http://www.natestrauser.com">Nate Strauser</a></small>
			</div>
		</div>
	</div>
</template>

<template name="loading">
    <i class="fa fa-spinner fa-spin"></i>&nbsp;Loading....
</template>