<template name="jobs">
	{{#if $gt jobCount 0}}
		{{#each jobs}}
			<div class="panel panel-default">
				<div class="panel-body">
    				{{>jobEmbedLarge}}
				</div>
			</div>
		{{/each}}
	{{else}}
		No Current Jobs
	{{/if}}
</template>

<template name="job">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
    				{{#with job}}
						{{>jobEmbedLarge}}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobsRecent">
	<h4>Recent Jobs <a href="/rss/jobs" target="_blank"><i class="fa fa-rss-square"></i></a></h4>
	{{#each jobs}}
		<div class="panel panel-default">
			<div class="panel-body">
				{{>jobEmbedSmall}}
			</div>
		</div>
	{{/each}}
</template>

<template name="jobLabels">
	<div>
		<span class="pull-right">
			{{#if remote}}<span class="label label-success"><i class="fa fa-globe"></i> Remote</span>{{/if}}
			{{#if jobtype}}<span class="label label-default"><i class="fa fa-info-circle"></i> {{jobtype}}</span>{{/if}}
		</span>
	</div>
</template>

<template name="jobExpiredAlert">
	{{#if expired}}
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Uh oh!</strong> This job post expired. <a href="{{pathFor 'jobEdit'}}">Update now to keep it in the public Jobs list.</a>
			</div>
		</div>
	{{/if}}
</template>

<template name="jobEmbedSmall">
	{{>jobLabels}}
	<h4>
		<a href="{{pathFor 'job'}}">{{title}}</a>
	</h4>
	{{#if company}}{{company}} - {{/if}}{{getPrettyDateAndTime createdAt}}
</template>

<template name="jobEmbedLarge">
	<div class="row">
		<div class="col-sm-12">
			{{>jobExpiredAlert}}
			{{>jobLabels}}
			<h2>
				<a href="{{pathFor 'job'}}">{{title}}</a>
			</h2>
			{{#if company}}
				<p>
				{{company}}
				</p>
			{{/if}}
			{{#if location}}
				<p>
				{{location}}
				</p>
			{{/if}}
			{{#if contact}}
				<p>
				{{contact}}
				</p>
			{{/if}}
			{{#if url}}
				<p>
				<i class="fa fa-external-link fa-m"></i>&nbsp;&nbsp;<a href="{{url}}" target="_blank">{{url}}</a>
				</p>
			{{/if}}
			<hr>
			{{#if htmlDescription}}
				{{{htmlDescription}}}
			{{/if}}
			<br>
			{{getPrettyDateAndTime createdAt}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{#if $eq userId $.Meteor.userId}}
				<div class="pull-right">
					&nbsp;
					<a href="{{pathFor 'jobEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
				</div>
				<div class="pull-right">
					{{#quickRemoveButton collection="Jobs" _id=_id class="btn btn-danger" beforeRemove=beforeRemove}}
						<i class="fa fa-trash-o"></i> Delete
					{{/quickRemoveButton}}
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="jobNew">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Post New Job</h4>
				</div>
  				<div class="panel-body">
    				{{#autoForm id="jobNew" collection="Jobs" type="insert"}}
					    {{>jobFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Post</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobEdit">
    <div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Edit Job Post</h4>
				</div>
  				<div class="panel-body">
    				{{#autoForm id="jobEdit" collection="Jobs" doc=job type="update"}}
					    {{>jobFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobFields">
	{{> afQuickField name='title' placeholder="Title displayed for your listing"}}
    {{> afQuickField name='company' placeholder="Name of the hiring company"}}
    {{> afQuickField name='location' placeholder="Where is this job located?"}}
    {{> afQuickField name='remote'}}
    {{> afQuickField name='url' placeholder="External URL of job posting"}}
    {{> afQuickField name="jobtype" firstOption="(Select a Job Type)" options="allowed"}}
    {{> afQuickField name='description' rows=8  placeholder="Tell prospective developers about this position.  What is the project? What will you expect them to know beforehand? Things like that."}}
    {{> afQuickField name='contact' placeholder="email/twitter/whatever for you to be contacted at (your user account email address is not displayed)"}}
</template>