<template name="jobs">
	{{#each jobs}}
		<div class="panel panel-default">
			<div class="panel-body">
				{{>jobEmbedSmall}}
			</div>
		</div>
	{{else}}
		No Current Jobs
	{{/each}}
</template>

<template name="job">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-body">
    				{{#with job}}
						{{>jobEmbedLarge}}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobsRecent">
	<section id="jobsRecent">
		<div class="row">
			<div class="col-sm-4">
				<h2>Recent Jobs</h2> 
			</div>
			<div class="col-sm-4 text-center">
				Last post about {{timeFromLastJob}}
			</div>
			<div class="col-sm-4 text-right">
				<a href="/rss/jobs" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
			</div>
		</div>
		{{#each jobs}}
			<div class="panel panel-default">
				<div class="panel-body">
					{{>jobEmbedSmall}}
				</div>
			</div>
		{{/each}}
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h4><a href="{{pathFor 'jobs'}}">View All {{getPublishedCount 'jobs'}} Jobs&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a></h4>
			</div>
		</div>
	</section>
</template>

<template name="jobLabels">
	{{#if remote}}<span class="label label-success"><i class="fa fa-globe"></i> Remote</span>{{/if}}
	{{#if jobtype}}<span class="label label-default"><i class="fa fa-clock-o"></i> {{jobtype}}</span>{{/if}}
</template>

<template name="jobExpiredAlert">
	{{#if expired}}
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Uh oh!</strong> This job post expired. <a href="{{pathFor 'jobEdit'}}">Update now to keep it in the public Jobs list.</a>
			</div>
		</div>
	{{/if}}
</template>

<template name="jobEmbedSmall">
	<div>
		<span class="pull-right">
			{{>jobLabels}}
		</span>
	</div>
	<h4>
		<a href="{{pathFor 'job'}}">{{title}}</a>
	</h4>
	{{#if company}}<i class="fa fa-building"></i> {{company}} - {{/if}}{{#if location}}<i class="fa fa-map-marker"></i> {{location}} - {{/if}}<i class="fa fa-calendar"></i> {{getPrettyDateAndTime createdAt}}
</template>

<template name="jobEmbedLarge">
	{{>jobExpiredAlert}}
	<div class="row">
		<div class="col-sm-12">
			<h2>
				{{title}}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			{{#if company}}
				<i class="fa fa-building"></i> {{company}}
			{{/if}}
		</div>
		<div class="col-sm-3">
			{{#if location}}
				<i class="fa fa-map-marker"></i> {{location}}
			{{/if}}
		</div>
		<div class="col-sm-6 text-right">
			{{#if url}}
				<i class="fa fa-external-link fa-m"></i>&nbsp;&nbsp;<a href="{{url}}" target="_blank">{{url}}</a>
			{{/if}}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-3">
			{{>jobLabels}}
			{{#if remote}}
				<hr>
			{{else}}
				{{#if jobtype}}
					<hr>
				{{/if}}
			{{/if}}
			{{#if contact}}
				<i class="fa fa-envelope"></i> {{contact}}
				<hr>
			{{/if}}
			<i class="fa fa-calendar"></i> Posted on {{getPrettyDateAndTime createdAt}}
		</div>
		<div class="col-sm-9">
			{{#if htmlDescription}}
				{{{htmlDescription}}}
			{{/if}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{#if $eq userId $.Meteor.userId}}
				<div class="pull-right">
					&nbsp;
					<a href="{{pathFor 'jobEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
				</div>
				<div class="pull-right">
					{{#quickRemoveButton collection="Jobs" _id=_id class="btn btn-danger" beforeRemove=beforeRemove}}
						<i class="fa fa-trash-o"></i> Delete
					{{/quickRemoveButton}}
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="jobNew">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Post New Job</h4>
				</div>
  				<div class="panel-body">
    				{{#autoForm id="jobNew" collection="Jobs" type="insert"}}
					    {{>jobFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Post</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobEdit">
    <div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Edit Job Post</h4>
				</div>
  				<div class="panel-body">
    				{{#autoForm id="jobEdit" collection="Jobs" doc=job type="update"}}
					    {{>jobFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobFields">
	{{> afQuickField name='title' placeholder="Title displayed for your listing"}}
    {{> afQuickField name='company' placeholder="Name of the hiring company"}}
    {{> afQuickField name='location' placeholder="Where is this job located?"}}
    {{> afQuickField name='remote'}}
    {{> afQuickField name='url' placeholder="External URL of job posting"}}
    {{> afQuickField name="jobtype" firstOption="(Select a Job Type)" options="allowed"}}
    {{> afQuickField name='description' rows=8  placeholder="Tell prospective developers about this position.  What is the project? What will you expect them to know beforehand? Things like that."}}
    {{> afQuickField name='contact' placeholder="email/twitter/whatever for you to be contacted at (your user account email address is not displayed)"}}
</template>
