<template name="jobs">
	{{#if $gt jobCount 0}}
		{{#each jobs}}
			<div class="panel panel-default">
				<div class="panel-body">
    				{{>jobEmbedLarge}}
				</div>
			</div>
		{{/each}}
	{{else}}
		No Current Jobs
	{{/if}}
</template>

<template name="job">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
    				{{#with job}}
						{{>jobEmbedLarge}}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobsRecent">
	<h4>Recent Jobs <a href="/rss/jobs"><i class="fa fa-rss-square"></i></a></h4>
	{{#each jobs}}
		<div class="panel panel-default">
			<div class="panel-body">
				{{>jobEmbedSmall}}
			</div>
		</div>
	{{/each}}
</template>

<template name="jobLabels">
	<div>
		<span class="pull-right">
			{{#if found}}<span class="label label-info"><i class="fa fa-bullhorn"></i> Repost</span>{{/if}}
			{{#if remote}}<span class="label label-success"><i class="fa fa-globe"></i> Remote</span>{{/if}}
		</span>
	</div>
</template>

<template name="jobEmbedSmall">
	{{>jobLabels}}
	<h4>
		<a href="{{pathFor 'job'}}">{{title}}</a>
	</h4>
	{{#if company}}{{company}} - {{/if}}{{getPrettyDateAndTime createdAt}}
</template>

<template name="jobEmbedLarge">
	<div class="row">
		<div class="col-sm-12">
			{{>jobLabels}}
			<h2>
				<a href="{{pathFor 'job'}}">{{title}}</a>
			</h2>
			{{#if company}}
				<p>
				{{company}}
				</p>
			{{/if}}
			{{#if location}}
				<p>
				{{location}}
				</p>
			{{/if}}
			{{#if url}}
				<p>
				<i class="fa fa-external-link fa-m"></i>&nbsp;&nbsp;<a href="{{url}}" target="_blank">{{url}}</a>
				</p>
			{{/if}}
			<hr>
			{{#if htmlDescription}}
				{{{htmlDescription}}}
			{{/if}}
			<br>
			{{getPrettyDateAndTime createdAt}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{#if $eq userId $.Meteor.userId}}
				<div class="pull-right">
					&nbsp;
					<a href="{{pathFor 'jobEdit'}}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
				</div>
				<div class="pull-right">
					{{#autoForm id="jobDelete" collection="Jobs" doc=this type="remove"}}
						<button type="submit" class="btn btn-danger remove"><i class="fa fa-trash-o"></i> Delete</button>
					{{/autoForm}}
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="jobNew">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Post New Job</h4>
				</div>
  				<div class="panel-body">
    				{{#autoForm id="jobNew" collection="Jobs" type="insert"}}
					    {{>jobFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Post</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobEdit">
    <div class="row">
		<div class="col-sm-10 sol-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Edit Job Post</h4>
				</div>
  				<div class="panel-body">
    				{{#autoForm id="jobEdit" collection="Jobs" doc=job type="update"}}
					    {{>jobFields}}
					    <div>
					    	<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
					    </div>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="jobFields">
	{{>afQuickField name='title'}}
    {{>afQuickField name='company'}}
    {{>afQuickField name='location'}}
    {{>afQuickField name='remote'}}
    {{>afQuickField name='url'}}
    {{>afQuickField name='description' rows=8}}
    {{>afQuickField name='found'}}
</template>