<head>
  <meta name="description" content="We Work Meteor is a job board and community space for users of the Meteor.  This site provides a complete listing of positions requiring the Meteor skill set, as well as to profiles for meteor developers experts for hire.">
	<meta name="keywords" content="Meteor,Jobs,Developers,Contracts,Freelance,Remote,Telecommute,Consultants">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
