<template name="jobNew">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
                <h4 class="text-center">We Work Meteor is only for jobs that will actively use <a href="http://www.meteor.com/">Meteor</a>.</h4>
                <br>
                <p>Jobs are free to post.

                Your job post will remain on this site for 90 days.  After 90 days the post will no longer appear to visitors.
                
                You can have your job post featured on the home page for 30 days for $100 buy purchasing the upgrade after creating your post.</p>
                <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Create Your Job Post</h4>
                </div>
                <div class="panel-body">
                    {{#autoForm id="jobNew" collection="Jobs" type="insert" }}
                        {{>jobFields}}
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-chevron-right"></i> Continue to preview your post</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobEdit">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edit Job Post</h4>
                </div>
                <div class="panel-body">
                    {{!-- {{#if $eq job.status 'pending'}} --}}
                        {{#autoForm id="jobEdit" collection="Jobs" doc=job type="update" }}
                            {{>jobFields}}
                            <div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Update</button>
                                <button id="cancel" class="btn btn-default"> Cancel</button>
                            </div>
                        {{/autoForm}}
                    {{!-- {{else}}
                        <div class="alert alert-info">
                            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i> Only pending jobs can be edited.
                            <br>
                            <a href="{{pathFor 'job' _id=job._id}}">Back to post</a>
                        </div>
                    {{/if}} --}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="jobFields">
    {{> afQuickField name='title' placeholder="Title displayed for your listing"}} {{> afQuickField name="jobtype" firstOption="(Select a Job Type)" options="allowed"}} {{> afQuickField name='company' placeholder="Name of the hiring company"}} {{> afQuickField name='location' placeholder="Where is this job located?"}} {{> afQuickField name='remote'}} {{> afQuickField name='description' rows=8 placeholder="Tell prospective developers about this position. What is the project? What will you expect them to know beforehand? Things like that."}} {{> afQuickField name='url' placeholder="External URL of job posting"}} {{> afQuickField name='contact' placeholder="email/twitter/whatever for you to be contacted at (your user account email address is not displayed)"}}
</template>
